body{
    background-color: white;;
}
.menu{
    display: flexbox;

}
.menu ul{
    margin:0%;
    background-color: black;
    list-style: none;
}
.menu ul li{
    display: inline-flex;
}
.menu ul li a{
    padding: 10px 10px;
    display: inline-block;
    color:white;
    text-decoration: none;
}
.menu ul li a:hover{
    color: lightgreen;
    background-color: grey;
    transition: background-color 1s;
}
#form1{
    border: 4px solid black;
    padding: 12px;
    width:500px;
    margin-left: 33%;
    margin-top: 10%;
    position:absolute;
    height:300px;  
}
.hamburguer{
    display:none;
}
@media only screen and (max-width: 600px){
    .hamburguer{
        display:inline-block;
    }
}
