
body{
    background-color: beige;

}
.menu{
    display: flexbox;
}

.menu ul{
margin: 0%;
background-color: black;
list-style: none;
}
.menu ul li{
    display: inline-flex;
    
}
.menu ul li a{
    padding: 10px 10px;
    display: inline-flex;
    color:white;
    text-decoration: none;
    
    
}
.menu ul li a:hover{
    color: lightgreen;
    background-color: grey;
    transition: background-color 1s;
}
h1{
    font-size: 60px;
    text-align: center;
    color:black;
    background-color: wheat;
}
#carouselSite{
    width:50%;
    height: auto;
    margin-left: 26%;
}
.bgimage{
    width:50%;
    margin-left: 23%;
}
.anuncio{
    font-size: 30px;
}
.hamburguer{
    display:none;
}
@media only screen and (max-width: 600px){
    .hamburguer{
        display:inline-block;
    }
}
#carouselExampleControls{
    margin-left: 23%;
    margin-right: 15%;
}
h3{
    text-align: center;

}




