
body{
    background-color: azure;
    
}
.menu{
    margin-left:30%;
    margin-right: 46%; 
}

.menu ul{
margin: 0%;
background-color: black;
list-style: none;
}
.menu ul li{
    display: inline-flex;
    
}
.menu ul li a{
    padding: 10px 10px;
    display: inline-flex;
    color:white;
    text-decoration: none;
    
    
}
.menu ul li a:hover{
    color: lightgreen;
    background-color: grey;
    transition: background-color 1s;
}
h1{
    font-size: 60px;
    margin-left: 300px;
    color:black;
}
.bgimage{
    width:57%;
    margin-left: auto;
    margin-right: auto;
    display:block;
}



