body{
   background-color: white;
}
.img1{
    width:40%;
    margin-left:20%;
    margin-right:19%;
    opacity: 0.8;  
    
}
body{
    margin: 0%;
    background-color: azure;
}
.menu{
    display: flexbox;

}
.menu ul{
margin: 0%;
background-color: black;
list-style: none;
}
.menu ul li{
    display: inline;
}
.menu ul li a{
    padding: 10px 10px;
    display: inline-block;
    color:white;
    text-decoration: none;
}
.menu ul li a:hover{
    color: lightgreen;
    background-color: grey;
    transition: background-color 1s;
}
.form-group{
    color:black;
}
.hamburguer{
    display:none;
}
@media only screen and (max-width: 600px){
    .hamburguer{
        display:inline-block;
    }
}
